<div class="container-fluid">
  <div class="row align-items-center justify-content-center d-none">
    {{ preloadProgress$ | async }}
  </div>
  <div
    *ngIf="(preloadProgress$ | async) === 1"
    class="row align-items-center justify-content-center"
    [style.height]="browserHeight$ | async"
  >
    <div class="w-100 d-flex flex-column">
      <app-instrument
        [configUrl]="instruments.drumkit"
        class="d-flex w-100 justify-content-center"
      ></app-instrument>
      <app-sequencer></app-sequencer>
    </div>
  </div>
</div>
