<div
  *ngIf="instrument$ | async as instrument"
  #container
  id="container"
  [style.max-width]="instrument.dimensions.width + 'px'"
  [style.height]="
    (container.clientWidth * instrument.dimensions.height) /
      instrument.dimensions.width +
    'px'
  "
  [style.background-image]="'url(' + instrument.background.url + ')'"
  [style.background-position]="
    instrument.background.position.x +
    'px ' +
    instrument.background.position.y +
    'px'
  "
  [style.background-size]="
    (container.clientWidth * instrument.background.dimensions.width) /
      instrument.dimensions.width +
    'px auto'
  "
>
  <div
    *ngFor="let part of ObjectValues(instrument.partsObj)"
    class="part"
    [id]="part.id"
    [style.width]="
      convertPixelToPercentage(
        part.animation.dimensions.width,
        instrument.dimensions.width
      )
    "
    [style.height]="
      convertPixelToPercentage(
        part.animation.dimensions.height,
        instrument.dimensions.height
      )
    "
    [style.top]="
      convertPixelToPercentage(
        part.animation.position.x,
        instrument.dimensions.height
      )
    "
    [style.left]="
      convertPixelToPercentage(
        part.animation.position.y,
        instrument.dimensions.width
      )
    "
    [style.background-image]="'url(' + part.animation.url + ')'"
  ></div>
</div>
